<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>CEOLogin</servlet-name>
  	<display-name>CEOLogin</display-name>
  	<description></description>
  	<servlet-class>Servlet.CEOLogin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddHospital</servlet-name>
  	<display-name>AddHospital</display-name>
  	<description></description>
  	<servlet-class>Servlet.AddHospital</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddBranch</servlet-name>
  	<display-name>AddBranch</display-name>
  	<description></description>
  	<servlet-class>Servlet.AddBranch</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddAddress</servlet-name>
  	<display-name>AddAddress</display-name>
  	<description></description>
  	<servlet-class>Servlet.AddAddress</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddManager</servlet-name>
  	<display-name>AddManager</display-name>
  	<description></description>
  	<servlet-class>Servlet.AddManager</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddDoctor</servlet-name>
  	<display-name>AddDoctor</display-name>
  	<description></description>
  	<servlet-class>Servlet.AddDoctor</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddPatient</servlet-name>
  	<display-name>AddPatient</display-name>
  	<description></description>
  	<servlet-class>Servlet.AddPatient</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddDiseases</servlet-name>
  	<display-name>AddDiseases</display-name>
  	<description></description>
  	<servlet-class>Servlet.AddDiseases</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteBranch</servlet-name>
  	<display-name>DeleteBranch</display-name>
  	<description></description>
  	<servlet-class>Servlet.DeleteBranch</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>CEOLogin</servlet-name>
  	<url-pattern>/CEOLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddHospital</servlet-name>
  	<url-pattern>/AddHospital</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddBranch</servlet-name>
  	<url-pattern>/AddBranch</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddAddress</servlet-name>
  	<url-pattern>/AddAddress</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddManager</servlet-name>
  	<url-pattern>/AddManager</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddDoctor</servlet-name>
  	<url-pattern>/AddDoctor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddPatient</servlet-name>
  	<url-pattern>/AddPatient</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddDiseases</servlet-name>
  	<url-pattern>/AddDiseases</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteBranch</servlet-name>
  	<url-pattern>/DeleteBranch</url-pattern>
  </servlet-mapping>
</web-app>
